# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.idea

target/
*.class

__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

.env
.env.*

node_modules/
dist/
*.log
